<div class="container-fluid no-gutter">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {% for slider in site.data.podcast %}
            <div class="swiper-slide">
                <div class="container-fluid default-container">
                   
                    <div class="col-md-4 col-md-push-8 col-xs-12 right-section">
                        <div class="playlist-poster-container">
                            <img src="{{ slider.poster }}" class="playlist-poster img-responsive center-block"/>
                        </div>
                    </div>

                    <div class="col-md-8 col-md-pull-4 col-xs-12 left-section">
                        <div class="playlist-content">
                            <div class="playlist-season-container">
                                <h3 class="playlist-season">Season {{ slider.season }} - Episode {{ slider.episode }}</h3>
                            </div>
                
                            <div class="playlist-header-container">
                                <h1 class="playlist-header">{{ slider.title }}</h1>
                                <p class="playlist-description text-default">{{ slider.description }}</p>
                            </div>
                            
                            <div class="playlist-player-container clearfix">
                            
                                <div class="playlist-audio col-xs-11 no-gutter">
                                    <audio controls controlsList="nodownload">
                                        <source src="{{ slider.audio-link }}">
                                    </audio>
                                </div>
                                <div class="playlist-download no-gutter">
                                    <a href="{{ slider.audio-link }}" download target="_blank">
                                        <img src="/img/download.png" class="download-icon center-block"/>
                                    </a>
                                </div>
                                
                            </div>

                            <div class="playlist-podcast-container">
                                <div class="row">
                                    {% for podcastList in slider.podcast %}
                                    <div class="col-md-3 col-xs-12 playlist-podcast-item">
                                        <a href="{{ podcastList.link }}" target="_blank">
                                            <img src="{{ podcastList.logo }}" class="podcast-button center-block img-responsive"/>
                                        </a>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-black"></div>
        <div class="swiper-button-prev swiper-button-black"></div>
    </div>
</div>