<div class="container-fluid no-gutter">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {% for slider in site.data.podcast %}
            <div class="swiper-slide" style="background-color: #{{ slider.background-color }};">
                <div class="container-fluid default-container">
                   
                    <div class="col-md-4 col-md-push-8 col-xs-12 right-section">
                        <div class="playlist-poster-container">
                            <img src="{{ slider.poster }}" class="playlist-poster img-responsive center-block"/>
                        </div>
                    </div>

                    <div class="col-md-8 col-md-pull-4 col-xs-12 left-section">
                        <div class="playlist-content">
                            <div class="playlist-season-container">
                                <h3 class="playlist-season">Season {{ slider.season }} - Episode {{ slider.episode }}</h3>
                            </div>
                
                            <div class="playlist-header-container">
                                <h1 class="playlist-header">{{ slider.title }}</h1>
                                <p class="playlist-description text-default">{{ slider.description }}</p>
                            </div>
                            
                            <div class="playlist-player-container">        
                                <audio controls>
                                    <source src="https://s3.amazonaws.com/ShopTalk/080_rapidfire_19.mp3">
                                </audio>
                            </div>

                            <div class="playlist-podcast-container">
                                <div class="row">
                                    {% for podcastList in slider.podcast %}
                                    <div class="col-md-3 col-xs-12 playlist-podcast-item">
                                        <a href="#{{ podcastList.link }}">
                                            <img src="{{ podcastList.logo }}" class="podcast-button center-block img-responsive"/>
                                        </a>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-black"></div>
        <div class="swiper-button-prev swiper-button-black"></div>
    </div>
</div>