@import color

// Reusable class
.no-gutter
  padding-left: 0
  padding-right: 0  

body
  padding-top: 50px


.owl-carousel
  .item
    background-color: #eaeaea
  
footer
  .container
    .content-container
      .footer-header
        color: $footer-header-text-color
      .footer-description
        color: $footer-description-text-color